test*
grep_help.txt
inventory-web/node_modules/
inventory-api/node_modules/
*.pyc
/node_modules
grep_help.txt
api.json
*.ini
*desktop.ini

features requirements

clean_desktop_ini.bash
clean_desktop_ini.sh
.vscode
temp.jsx