.purchase-order-container {
  display: flex;
  flex-direction: column;
}

.po-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#po-creation-field-group, 
#po-reference-field-group, 
#po-header-total-price {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-right: 30px;
}

#po-header-total-price {
  width: 20%;
}

#po-header-total-price label{
  word-wrap: 'break-word';
}